.description {
    background-color: var(--brand-color-white);
    padding-top: 94px;
    padding-bottom: 60px;
    @include tablet {
        padding-bottom: 45px;
    }
    @include desktop {
        padding-bottom: 0;
    }
    .description__list {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .description__item {
        width: 450px;

        @include tablet {
            width: 354px;
        }
        @include desktop {
            width: 270px;
        }
    }

    .description__icon {
        height: 120px;
        background-color: var(--brand-color-gray);
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 4px;
    }

    .description__name {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        @include tablet {
            display: block;
        }
        @include desktop {
            display: block;
        }
    }

    .description__text {
        display: flex;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--brand-color-gray2);
        flex-wrap: wrap;
    }
}
